/* Resetowanie stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nagłówek */
header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 19, 22);
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 40px;
  padding: 0 20px;
}

/* Logo */
.logo {
  font-size: 1em;
  font-weight: bold;
  color: rgb(232, 223, 223);
  margin-left: auto;
}

/* Przyciski */

.nav-btn {
  background-color: #ff6700;
  color: white;
  border: none;
  border-radius: 70px;
  padding: 5px 10px;
  font-size: 0.6em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 20px;
  height: auto;
  font: sans-serif;
}

.nav.btn:hover {
  background-color: #ff6700;
}

/* Kontener lewego przycisku */
.left-button {
  display: flex;
  align-items: center;
  margin-left: 150px;
  
}

/* Kontener prawego przycisku */
.right-button {
  display: flex;
  align-items: center;
  margin-right: 150px
}

/* Kontener nawigacji */
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: auto;
  flex-grow: 1;
  
}

/* Lista nawigacyjna */
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 5px;
}




.main-nav ul li a {
  text-decoration: none;
  color: rgb(232, 223, 223);
  font-size: 0.7em;
  font-weight: 500;
}

.hamburger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger-menu span {
  width: 20px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity, 0.3s ease;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background-color: rgb(29, 19, 22);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 60px;
  transition: right 0.3s ease;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  text-align: center;
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}