/* Resetowanie stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nagłówek */
header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 19, 22);
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 70px;
  padding: 0 30px;
}

/* Logo */
.logo {
  font-size: 2.3em;
  font-weight: bold;
  color: rgb(232, 223, 223);
  margin-left: auto;
}

/* Przyciski */

.nav-btn {
  background: linear-gradient(135deg, #d44b42, #ff7a4e);
  color: white;
  border: none;
  border-radius: 70px;
  padding: 8px 18px;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  font: sans-serif;
}

.nav-btn:hover {
  background: linear-gradient(135deg, #ff5c3a, #ffa35c);
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Kontener lewego przycisku */
.left-button {
  display: flex;
  align-items: center;
  margin-left: 200px;

}

/* Kontener prawego przycisku */
.right-button {
  display: flex;
  align-items: center;
  margin-right: 200px
}

/* Kontener nawigacji */
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: auto;
  flex-grow: 1;
  
}

/* Lista nawigacyjna */
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 5px;
}




.main-nav ul li a {
  text-decoration: none;
  color: rgb(232, 223, 223);
  font-size: 1.3em;
  font-weight: 500;
}

.hamburger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger-menu span {
  width: 20px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity, 0.3s ease;
}

.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 9%;
  right: -300px;
  width: 300px;
  height: 500px;
  background: rgba(29, 19, 22, 0.9); 
  z-index: 1000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Miękki cień */
  border: 4px solid rgba(255, 255, 255, 0.2);
  transition: right 0.4s ease, transform 0.4s ease;
  transition: scale(0.95);
}

.side-menu.open {
  right: 20px;
  transform: scale(1);
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%
}

.side-menu ul li {
  text-align: left;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
  
}

.side-menu ul li a {
  color: #f8f1e8;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 20px;
  border-radius: 15px;
  transition: background 0.3s ease, transform 0.3s ease;
  gap: 10px; 
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  
}

.side-menu ul li a:hover {
  background: rgba(255, 255, 255, 0.3); 
  color: #ffa85c;
  transform: scale(1.05);
}

.side-menu ul li a i {
  font-size: 1.5em;
  color: #ffa85c;
  transition: color 0.3s ease;
}

.side-menu ul li a:hover i {
  color: #f8f1e8;
}


.hero {
  background: url('background1.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;

}

.hero-content {
  z-index: 1;
  color: white;
  position: relative;
  text-align: center;
}

.hero-title {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.hero-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 30px;
  line-height: 1.6;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.cta-btn {
  font-family: 'roboto', sans-serif;
  background: linear-gradient(135deg, #f56c57, #ffa85c);
  color: white;
  font-size: 1.5rem;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);

}

.cta-btn:hover {
  background: linear-gradient(135deg, #ffa85c, #f56c57);
  transform: scale(1.1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}